{% extends "header.html" %}
{% block title %}
    CalorieWatcher Add Food
{% endblock %}

{% block page_header %}Add Foods to My Diary{% endblock %}
{% block content %}
    {% if foods %}
        <div>
            <table class="table table-bordered">
            <h1 class="page-header" style="margin-top:10px">Food Search</h1>
                <thead>
                <tr>
                    <th>#</th>
                    <th>food</th>
                    <th>serve</th>
                </tr>
                </thead>
                <tbody>
                <form action="{% url "add_food" %}" method="post">
                    {% csrf_token %}
                    {% for f in foods %}
                        <input type="hidden" name="ndbno" value="{{ f.food.report.food.ndbno }}">
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <p style="font-size: 12px;">{{ f.food.report.food.name }}
                                    - {{ f.food.report.food.ndbno }}</p>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>name</th>
                                        <th>value</th>
                                        <th>unit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for nut in f.food.report.food.nutrients %}

                                        <tr>
                                            <td>{{ nut.name }}</td>
                                            <td>{{ nut.value }}</td>
                                            <td>{{ nut.unit }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <select name="unit" id="unit">
                                    {% for serve in f.serve %}
                                        <option value="{{ serve }}">{{ serve }}</option>
                                    {% endfor %}
                                </select>
                                <input class="input-sm" type="number"
                                       name="serve">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <button class="btn btn-primary" type="submit">Add to my
                            diary
                        </button>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-social">
      <ul class="bs-social-buttons">

        <li class="follow-btn">
          <a href="https://twitter.com/isik5" class="twitter-follow-button" data-show-count="false">Follow @isik5</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>

      </ul>
    </div>
    <p>CW.io &copy; 2016 | <a href="http://35.165.197.45/privacy_policy" target="_blank">Site Privacy policy</a> | Featured snippets are <a href="http://35.165.197.45/license">MIT license.</a> </p>
  </div>
<style>

</style>
<script async type="text/javascript" src="//cdn.fancybar.net/ac/fancybar.js?zoneid=1502&serve=C6ADVKE&placement=danstools" id="_fancybar_js"></script>

<script type="text/javascript">

    </footer>


