{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.standalone.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ie10-viewport-bug-workaround.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}">

    <script src="{% static "jquery-3.1.1.min.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static "bootstrap-datepicker.min.js" %}"></script>


</head>

<body>
{% block sidebar %}
    {% include "header.html" %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div id="content">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "sidebar.html" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{% block page_header %}{% endblock %}</h1>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %}
                                class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% block content %}

                {% endblock %}

            </div>
        </div>
    <div class="terms">
  <center><b>Copyright © 2016-2070, CalorieWatcher.com All Rights Reserved</b></center>
</div>
{% block extra_js %}{% endblock %}
</body>
</html>
