{% extends "index.html" %}
{% block title %}
    CalorieWatcher Food Search
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block page_header %}Food Search{% endblock %}
{% block content %}

    <table class="table table-bordered">Foods Consumed
        <thead>
        <tr>
            <th>food</th>
            <th>unit</th>
            <th>serve</th>
            <th>calorie [kcal]</th>
        </tr>
        </thead>
        <tbody>
        {% for f in todays_food %}
            <tr>
                <td>{{ f.get_food.name }}</td>
                <td>{{ f.unit }}</td>
                <td>{{ f.serve }}</td>
                <td>{{ f.get_food_calorie }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">submit</button>
    </form>
    <hr>
    {% if food_search_results %}
        <div>
            <p>Number of results <span><b>{{ food_search_results.list.sr }}</b></span>
            </p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>name</th>
                    <th>group</th>
                </tr>
                </thead>
                <tbody>
                <form action="{% url "add_food" %}" method="post">
                    {% csrf_token %}
                    {% for f in food_search_results.list.item %}
                        <tr>
                            <td><input type="checkbox" name="add-ndbno"
                                       value="{{ f.ndbno }}"></td>
                            <td>{{ f.name }}</td>
                            <td>{{ f.group }}</td>
                        </tr>
                        {% if forloop.last %}
                            <button class="btn btn-primary" type="submit">Add to
                                my diary
                            </button>
                        {% endif %}
                    {% endfor %}
                </form>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}